[python: freqtrade/**.py]
[jinja2: freqtrade/**/templates/**.html]
[javascript: freqtrade/**/ui/**.js]
[javascript: freqtrade/**/ui/**.ts]
[javascript: freqtrade/**/ui/**.vue]
extensions=jinja2.ext.autoescape,jinja2.ext.with_
